.clasimage{
    padding-top: 200px;
    position: relative;
}

.boton-encima {
    position: absolute; 
    bottom: 70px;
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px 20px; 
    background-color: #2f4dd3; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.boton-encima:hover {
    background-color: #1c26b7;
    transform: scale(1);
    transition: 2s;
}
