.fondo1{

    width: 100%;
}

.fondo1 img{
    filter: brightness(0.5);
    width: 100%;
    position: relative;

}

        /* Estilo para el texto */
        .texto-encima {
            position: absolute; /* Posicionamiento absoluto con respecto al contenedor padre */
            top: 50%; /* Coloca el elemento en la mitad superior del contenedor */
            left: 50%; /* Coloca el elemento en la mitad izquierda del contenedor */
            transform: translate(-50%, -50%); /* Centra el elemento */
            text-align: center; /* Alinea el texto al centro */
            color: white; /* Color del texto */
        }

        /* Estilo para el botón */
        .boton-encima {
            position: absolute; /* Posicionamiento absoluto con respecto al contenedor padre */
            top: 60%; /* Ajusta la posición del botón */
            left: 50%; /* Coloca el botón en el centro horizontal */
            transform: translateX(-50%); /* Centra horizontalmente */
            padding: 10px 20px; /* Espaciado interno */
            background-color: #007bff; /* Color de fondo del botón */
            color: white; /* Color del texto del botón */
            border: none; /* Sin borde */
            border-radius: 5px; /* Bordes redondeados */
            cursor: pointer; /* Cambia el cursor al pasar por encima */



            
        }