.fondo1 {
    position: relative; 
    background-image: url(../img/fondo_index.png);
    background-color: #f0f0f0; 
    background-size: cover; 
    background-position: center; 
    width: 100%;
    height: 400px;
    display: flex;

}
.mainindex{
    padding-top: 100px; 
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: calc(100vh - 100px); 
}


.texto-encima {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    color: white; 
}

.boton-encima {
    position: absolute; 
    bottom: 20px;
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px 20px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}
